<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/common/main.css" />
    <link rel="stylesheet" href="/css/admin/admin.css" />
    <link rel="stylesheet" href="/css/common/header_and_footer.css" />
    <link rel="stylesheet" href="/css/common/cards.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
  </head>
  <body>
    <header>
      <div class="mobile-menu">
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

      <nav class="navbar" id="navbar"></nav>
    </header>

    <main>
      <section class="main-section">
        <div class="container">
          <h1>Dashboard</h1>

          <div class="cards">
            <div class="card-single admin">
              <h1>Green Members</h1>

              <div class="info">
                <h1 id="green_member_in_lifetime">00</h1>
                <p>in Lifetime</p>
              </div>
            </div>

            <div class="card-single admin">
              <h1>Green Members</h1>

              <div class="info">
                <h1 id="green_member_in_this_month">00</h1>
                <p>in This Month</p>
              </div>
            </div>

            <div class="card-single admin">
              <h1>Red Members</h1>

              <div class="info">
                <h1 id="red_member_in_lifetime">00</h1>
                <p>in Lifetime</p>
              </div>
            </div>

            <div class="card-single admin">
              <h1>Red Members</h1>

              <div class="info">
                <h1 id="red_member_in_this_month">00</h1>
                <p>in This Month</p>
              </div>
            </div>
          </div>

          <div class="cards company">
            <div class="card-single company-info">
              <h1>Total Company Earning</h1>

              <div class="info">
                <h1 id="earning_in_lifetime">00.00₹</h1>
                <p></p>
              </div>
            </div>

            <div class="card-single company-info">
              <h1>Today's Company Earning</h1>

              <div class="info">
                <h1 id="earning_in_this_month">00.00₹</h1>
                <p></p>
              </div>
            </div>
          </div>

          <h1>Member Joined This Month</h1>
          <div class="data-table">
            <table class="user-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Joining Date</th>
                  <th>Plan</th>
                </tr>
              </thead>
              <tbody id="table"></tbody>
            </table>
            <!-- <div class="pagination">
              <button id="prev">Previous Page</button>
              <button id="now">4</button>
              <button id="next">Next Page</button>
            </div> -->
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2023 www.digitalmetaone.com All rights reserved.</p>
      </div>
    </footer>

    <script src="/js/common/header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/admin/admin.js"></script>
  </body>
</html>
