<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/mobile_view.css" />
    <link rel="stylesheet" href="/css/tree2.css" />
  </head>
  <body>
    <header>
      <div class="mobile-menu">
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

      <nav class="navbar">
        <div class="container">
          <div class="logo-and-links">
            <a href="#" class="logo">Your Logo</a>
            <ul class="nav-links">
              <li><a href="main.html">Home</a></li>
              <li><a href="about_us.html">About Us</a></li>
              <li><a href="contact_us.html">Contact Us</a></li>
              <li><a href="admin.html">Admin</a></li>
              <li><a href="user.html">User info</a></li>
              <li><a href="main.html">User Dashboard</a></li>
              <li><a href="members.html">All Members</a></li>
            </ul>
          </div>

          <div class="user-button">
            <button>
              <li><a href="">Prashant Kumar</a></li>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="admin-section">
        <div class="container">
          <h1>Tree</h1>

          <div class="genealogy-body genealogy-scroll">
            <div class="tree">
              <div class="node" onclick="fun">
                <div class="node_element">Main</div>
                <div class="node_children">
                  <!-- <div class="node_bottom-line"></div> -->
                  <div class="node">
                    <div class="node_element">left</div>
                  </div>
                  <div class="node">
                    <div class="node_element">right</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2023 Your Creative Website. All rights reserved.</p>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        const mobileMenu = document.querySelector(".nav-links");

        mobileMenu.classList.toggle("active");

        hamburger.addEventListener("click", function () {
          mobileMenu.classList.toggle("active");
          hamburger.classList.toggle("open");
        });
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/tree.js"></script>
  </body>
</html>
