
/* Contact Form */
label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

textarea {
    height: 150px; /* Adjust the height as needed */
}

button[type="submit"] {
    background-color: #3274FF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

button[type="submit"]:hover {
    background-color: #ffce32;
}