<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/common/header_and_footer.css" />
    <link rel="stylesheet" href="/css/common/main.css" />
    <link rel="stylesheet" href="/css/user/user.css" />
  </head>
  <body>
    <header>
      <div class="mobile-menu">
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

      <nav class="navbar" id="navbar"></nav>
    </header>

    <main>
      <section class="profile-section">
        <div class="container">
          <h1>My Profile</h1>
          <div class="user-info">
            <img id="image" src="" alt="User Avatar" class="user-avatar" />
            <form class="form" action="" enctype="multipart/form-data">
              <input type="file" id="imageUpload" />
              <button type="submit" id="upload">Upload</button>
            </form>

            <div class="planType">
              <h1 id="planType">Plan Type: </h1>
              <form action="">
                <button type="submit" id="upgrade">Upgrade Now</button>
              </form>
            </div>

            <div class="user-details">
              <h2 id="user-name">John Doe</h2>
              <p id="email">Email:</p>
              <p id="phoneNo">Mob. No.</p>
            </div>
          </div>
          <ul>
            <li><h2 id="joiningDate">Joined: January 15, 2022</h2></li>
            <li><h2>Interests: Web Development, Design</h2></li>
          </ul>

          <ul>
            <li><h2 id="linkLeft">Link left</h2></li>
            <li><h2 id="linkRight">Link left</h2></li>
          </ul>

          <div>
            <button id="changePassword">Change Password</button>

            <form class="form" id="change-form">
              <input
                type="password"
                id="oldPassword"
                placeholder="Old Password"
                autocomplete="true"
              />
              <input
                type="password"
                id="newPassword"
                placeholder="New Password"
                autocomplete="true"
              />

              <div class="btns">
                <button id="change">Change</button>
                <button id="cancel">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2023 Company Name. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/common/header.js"></script>
    <script src="/js/user/user.js"></script>
  </body>
</html>
