/* styles.css */
#about,#contact {
  display: none;
}

#aboutbtn, #contactbtn{
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#aboutbtn:hover, #contactbtn:hover{
  color:yellow;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel,
.form-btns {
  width: 40%;
  border: 1px solid black;
  background-color: rgb(225, 240, 252);
  border-radius: 8px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
}

.signup-form .form-btns {
  width: 100%;
}
.panel button,
button {
  width: 40%;
  background-color: #104dd1;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgb(225, 225, 225);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 5px 0px;
}

.panel button:hover {
  background-color: #719efd;
}

.container .signup-form {
  width: 40%;
  padding: 15px 5px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: left;
  background-color: rgb(142, 234, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form h1 {
  font-size: 2.5rem;
  color: #333;
}
#login{
  display: none;
}
.form-group {
  margin-bottom: 20px;
  border: 1px solid rgb(190, 188, 188);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

option {
  width: 20%;
  outline: none;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 10px 2px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(221, 233, 244);
  font-size: 1rem;
}

select {
  width: 100%;
}

@media (max-width: 750px) {
  .panel {
    width: 80%;
  }

  .signup-form .form-btns {
    width: 100%;
  }

  .container .signup-form {
    border: 1px solid black;
    width: 80%;
  }
  .cotant{
    
  }
}
