<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Your Creative Website</title>
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/mobile_view.css" />
  </head>
  <body>
    <header>
      <div class="mobile-menu">
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

      <nav class="navbar">
        <div class="container">
          <div class="logo-and-links">
            <a href="#" class="logo">Your Logo</a>
            <ul class="nav-links">
              <li><a href="main.html">Home</a></li>
              <li><a href="about_us.html">About Us</a></li>
              <li><a href="contact_us.html">Contact Us</a></li>
              <li><a href="admin.html">Admin</a></li>
              <li><a href="user.html">User info</a></li>
              <li><a href="main.html">User Dashboard</a></li>
              <li><a href="members.html">All Members</a></li>

            </ul>
          </div>

          <div class="user-button">
            <button>
              <a href="">Prashant Kumar</a>
            </button>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="about-section">
        <div class="container">
          <h1>About Us</h1>
          <p>
            Welcome to Your Creative Website, your source of inspiration and
            creativity.
          </p>
          <p>
            Our mission is to empower individuals and businesses to turn their
            ideas into reality. Whether you're an artist, a developer, an
            entrepreneur, or just someone with a passion for creativity, we're
            here to support you on your journey.
          </p>
          <p>
            Join our community of like-minded innovators and let's create
            something amazing together.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2023 Your Creative Website. All rights reserved.</p>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        const mobileMenu = document.querySelector(".nav-links");

        mobileMenu.classList.toggle("active");

        hamburger.addEventListener("click", function () {
          mobileMenu.classList.toggle("active");
          hamburger.classList.toggle("open");
        });
      });
    </script>
  </body>
</html>
