.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.form input{
    width: 50%;
    background-color: aliceblue;
}

.form select, option{
    width: 20%;
    outline: none;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px 2px;
}
.form button{

    height: 50%;
}